{% extends "base.html" %}
{% block content %}

        <!-- Optional header components (ex: slider) -->
            
    <!-- MAIN CONTENT -->

    <section class="slice no-padding">
        <div id="mapCanvas" class="map-canvas no-margin"></div>
    </section>

    <section class="slice bg-white">
        <div class="w-section inverse">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="section-title-wr"><h3 class="section-title left"><span>Management</span></h3></div>
                        <p>
                        To get a quote, contact Aarthi Matabonu:
                        </p>
                        <div class="contact-info">
                            {% include "contact-info.html" with name="Aarthi K. Matabonu" title="Manager" email="aarthik@artytransport.com" phone="+055 772 1915"%}
                        </div>
                        <div class="contact-info">
                            {% include "contact-info.html" with name="Shanthi Kannan" title="Director" email="aarthik@artytransport.com" phone="+055 236 0646"%}
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Operations</span></h3>
                        </div>
                        <p>
                        For day-to-day operations and scheduling of trips:
                        </p>
                        {% include "contact-info.html" with name=" Salahudeen K." title="Field Manager" email="salahk@artytransport.com" phone="+04 5519841"%}
                        {% include "contact-info.html" with name="Santhosh Babu" title="Operations Manager" email="santoshb@artytransport.com" phone="+04 5519841"%}                        
                        {% include "contact-info.html" with name="Sreenimon S." title="Operations Specialist" email="sreenis@artytransport.com" phone="+04 5519841"%}
                        {% include "contact-info.html" with name="Pratap Rana" title="Operations Specialist" email="pratapr@artytransport.com" phone="+04 5519841"%}

                    </div>                       
                    <div class="col-md-3">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Accounts</span></h3>
                        </div>
                        <p>
                        For all invoicing and accounting enquiries:
                        </p>
                        {% include "contact-info.html" with name="Uma T. Rana" title="Chief Accountant" email="umat@artytransport.com" phone="+04 5519848"%}                        
                        {% include "contact-info.html" with name="Ravi Gaddam" title="Accountant" email="ravig@artytransport.com" phone="+04 5519848"%}                                                
                    </div>
                 
                    <div class="col-md-3">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>Visit Us</span></h3>
                        </div>
                        <div class="contact-info">
                            <h5><i class="fa fa-map-marker"></i>Physical Address</h5>
                            <p>715 C Ibn Battuta Gate, Sheikh Zayed Road, Dubai, United Arab Emirates.</p>

                            <h5><i class="fa fa-map-marker"></i>Mailing Address</h5>
                            <p>P. O. Box 52072, Dubai, United Arab Emirates.</p>        

                            <h5><i class="fa fa-phone"></i>Phone</h5>
                            <p>+04 5519841</p>

                            <h5><i class="fa fa-fax"></i>Fax</h5>
                            <p>+04 5519824</p>                            
                        </div>
                    </div>                    

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block pagescripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/gmaps.js"></script>
{% endblock %}
