{% extends "base.html" %}
{% block content %}


        <!-- Optional header components (ex: slider) -->
        	<!-- Importing slider content -->
	<section id="slider-wrapper" class="layer-slider-wrapper">
    <div id="layerslider" style="width:100%;height:500px;">        
        <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
            <!-- slide background -->
            <!--img src="{{ STATIC_URL }}/boomerang/images/slider/fw-1.jpg" class="ls-bg" alt="Slide background"/!-->
            <img src="{{ STATIC_URL }}/img/iStock_000019715518MediumDark.png" class="ls-bg" alt="Slide background"/>

            <!-- Right Image -->
            <!--img src="{{ STATIC_URL }}/boomerang/images/prv/human-img-1.png" class="ls-l" style="top:58%; left:70%;" data-ls="offsetxin:0;offsetyin:250;durationin:950;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" alt="Image layer"!-->

            <img src="{{ STATIC_URL }}/img/awardscaled.png" class="ls-l" style="top:58%; left:90%;" data-ls="offsetxin:0;offsetyin:250;durationin:950;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:0.1;scaleyout:0.1;" alt="Image layer">
            
            <!-- Left Text -->
            <h3 class="ls-l title title-sm c-white " style="width:800px; top:75%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">Award Winning Container Delivery in the UAE for over 20 years</h3>
            <!--p class="ls-l text-standard" style="width:500px; top:55%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:2500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
            Boomerang is a multi-purpose business template loaded with shortcodes and many features that can be perfectly adapted for any idea. 
            Get now the fully updated and ready to run template that will ease you work in no time.
            </p!-->
            <!--a href="https://wrapbootstrap.com/theme/boomerang-multipurpose-template-WB021609D" class="btn btn-base btn-lg ls-l" style="top:75%; left:80px;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:3500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;" target="_blank">Purchase Boomerang</a!-->
        </div>
        
    </div>
</section>

    
    <!-- MAIN CONTENT -->
        <!--section class="slice p-15 base">
        <div class="cta-wr">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-normal">
                            We move your 20 and 40 ft containers between Jabel Ali Port and your warehouses fast and on time. 
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="btn btn-lg btn-b-white btn-icon btn-icon-right btn-check pull-right">
                            <span>Schedule a Trip Now!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section!-->

    <section class="slice bg-white bb">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="wp-block inverse text-center">
                            <div class="thmb-img">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            
                            <h2>Dedicated Fleet</h2>
                            <p class="">We deliver and pickup containers on time, through our large fleet of dedicated trucks and trailers.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="wp-block inverse text-center">
                            <div class="thmb-img">
                                <i class="fa fa-keyboard-o"></i>
                            </div>
                            
                            <h2>Modern Operations</h2>
                            <p class="">Our experienced team prioritizes our truck schedules according to your needs, while keeping you constantly updated during movement.</p>
                        </div>
                    </div>
                    
                    <!--div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="wp-block inverse text-center">
                            <div class="thmb-img">
                                <i class="fa fa-code"></i>
                            </div>
                            
                            <h2>Designing and Coding</h2>
                            <p class="">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
                        </div>
                    </div!-->
                    
                    <!--div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="wp-block inverse text-center">
                            <div class="thmb-img">
                                <i class="fa fa-rocket"></i>
                            </div>
                            
                            <h2>Launching and Monitoring</h2>
                            <p class="">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris.</p>
                        </div>
                    </div!-->
                        
                </div>
            </div>
        </div>    
    </section>

    <section class="slice light-gray bb">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Our services</span></h3>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="wp-block hero white no-margin">
                            <div class="thmb-img">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            
                            <h2>Container Movement</h2>
                            <p class="text-center">We can move your 20 ft, 40 ft and non-standard containers between the port of Jabel Ali and warehouse locations within Jabel Ali or anywhere in the UAE.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="wp-block hero white no-margin">
                            <div class="thmb-img">
                                <i class="fa fa-keyboard-o"></i>
                            </div>
                            
                            <h2>Headache-Free Services</h2>
                            <p class="text-center">We will take care of Dubai Ports World e-token generation, cargo insurance as well as customs and municipality inspections.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="wp-block hero white no-margin">
                            <div class="thmb-img">
                                <i class="fa fa-code"></i>
                            </div>
                            
                            <h2>Quality of Service</h2>
                            <p class="text-center">Our modern operations team delivers on time and provides email updates on container status and an estimated time of arrival to help you plan things at your end.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="wp-block hero white no-margin">
                            <div class="thmb-img">
                                <i class="fa fa-rocket"></i>
                            </div>
                            
                            <h2>After Delivery</h2>
                            <p class="text-center">Do you have special invoicing requirements ? Just tell us and we will do it. Yes! we can deliver on night and weekends too!</p>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </section>    

    <!--section class="prlx-bg inset-shadow-1" data-stellar-ratio="2" style="padding: 50px 0; background-image: url(Port2.jpg); background-position: 0 -400px;">
        <div class="mask mask-2"></div>
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">  
                        <div class="text-center">
                            <h4 class="c-white"><i class="fa fa-quote-left fa-3x"></i></h4>
                            <h2 class="c-white">Always look on the bright side of life, ta dum, ta dum</h2>
                            <p class="c-white">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus.
                                <br>
                                Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.
                            </p>
                            <span class="clearfix"></span>
                            
                            <div class="text-center">
                                <a href="http://player.vimeo.com/video/22290612" class="btn btn-lg btn-b-white mt-20 ext-source">Watch our video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section!-->
    
    <!-- CLIENTS -->
    <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Some of Our Clients</span></h3>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="{{ STATIC_URL }}/img/client.01.jpg" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="{{ STATIC_URL }}/img/client.02.jpg" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="{{ STATIC_URL }}/img/client.03.jpg" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="{{ STATIC_URL }}/img/client.04.jpg" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="{{ STATIC_URL }}/img/client.05.jpg" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="{{ STATIC_URL }}/img/client.06.jpg" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="{{ STATIC_URL }}/img/client.07.jpg" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="{{ STATIC_URL }}/img/client.08.jpg" alt="">
                            </a>
                        </div>
                    </div>
                     <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="client">
                            <a href="#">
                                <img src="{{ STATIC_URL }}/img/client.09.jpg" alt="">    
                            </a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </section>
{% endblock %}
