<!DOCTYPE html>
<html>  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    {% block header %}
    <title>ARTY Transport CO. LLC. - Award Winning Service !</title>
    {% endblock %}

    <!-- Essential styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/boomerang/assets/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/boomerang/font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="{{ STATIC_URL }}/boomerang/assets/fancybox/jquery.fancybox.css?v=2.1.5" media="screen"> 
     
    <!-- Boomerang styles -->
        <link id="wpStylesheet" type="text/css" href="{{ STATIC_URL }}/boomerang/css/global-style.css" rel="stylesheet" media="screen">
        

    <!-- Favicon -->
    <link href="images/favicon.png" rel="icon" type="image/png">

    <!-- Assets -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/boomerang/assets/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/boomerang/assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/boomerang/assets/sky-forms/css/sky-forms.css">    
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="{{ STATIC_URL }}/boomerang/assets/sky-forms/css/sky-forms-ie8.css">
    <![endif]-->

    <!-- Required JS -->
    <script src="{{ STATIC_URL }}/boomerang/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}/boomerang/js/jquery-ui.min.js"></script>

    <!-- Page scripts -->
    <link rel="stylesheet" href="{{ STATIC_URL }}/boomerang/assets/layerslider/css/layerslider.css" type="text/css">

</head>
<body>
<!-- MODALS -->

<!-- MOBILE MENU - Option 2 -->
<!--section id="navMobile" class="aside-menu left">
    <form class="form-horizontal form-search">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button id="btnHideMobileNav" class="btn btn-close" type="button" title="Hide sidebar"><i class="fa fa-times"></i></button>
            </span>
        </div>
    </form>
    <div id="dl-menu" class="dl-menuwrapper">
        <ul class="dl-menu"></ul>
    </div>
</section!--> 


            <!-- HEADER -->
        <div id="divHeaderWrapper">
            <header class="header-standard-2">     
    <!-- MAIN NAV -->
    <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-aside-menu">
                    <i class="fa fa-outdent icon-custom"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars icon-custom"></i>
                </button>

                <a class="navbar-brand" href="index.html" title="ARTY Transport CO. LLC. | Award Winning Service!">
                    <img src="{{ STATIC_URL }}/img/artylogo.png" alt="ARTY Transport CO. LLC. | Award Winning Service!">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown dropdown-meganav mega-dropdown-fluid">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
                    </li>

                </ul>
               
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>        </div>

 {% block content %}

 {% endblock %}
    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="col">
                       <h4>Contact us</h4>
                       <ul>
                            <li>715 C Ibn Battuta Gate, Sheikh Zayed Road, Dubai -  United Arab Emirates</li>
                            <li>Phone: 04 5519841 | Fax: 04 5519824 </li>
                            <li>Email: <a href="mailto:aarthik@artytransport.com" title="Email Us">aarthik@artytransport.com</a></li>
                        </ul>
                     </div>
                </div>
                
                <div class="col-md-3">
                    <div class="col">
                       <h4>Operations</h4>
                       <ul>
                            <li>Phone: 04 5519841 | Fax: 04 5519824 </li>
                            <li>Email: <a href="mailto:operations@artytransport.com" title="Email Us">operations@artytransport.com</a></li>
                        </ul>
                     </div>
                </div>
                
                <div class="col-md-3">
                    <div class="col">
                       <h4>Accounts</h4>
                       <ul>
                            <li>Phone: 04 5519848 | Fax: 04 5519824 </li>
                            <li>Email: <a href="mailto:accounts@artytransport.com" title="Email Us">accounts@artytransport.com</a></li>
                        </ul>
                     </div>
                </div>

                 <div class="col-md-3">
                    <div class="col">
                        <h4>About us</h4>
                        <p class="no-margin">
                        We are a young, focused, team based at the beautiful Ibn Battuta Mall offices near Jabel Ali. We continuously improve our processes to provide you with a smooth container-moving experience.
                        <br><br>
                        <!--a href="#" class="btn btn-block btn-base btn-icon fa-check"><span>Try it now</span></a!-->
                        </p>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <div class="row">
                <div class="col-lg-12 copyright">
                    2014 © The ARTY Transport Company. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Essentials -->
<script src="{{ STATIC_URL }}/boomerang/js/modernizr.custom.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}/boomerang/js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="{{ STATIC_URL }}/boomerang/js/jquery.easing.js"></script>
<script src="{{ STATIC_URL }}/boomerang/js/jquery.metadata.js"></script>
<script src="{{ STATIC_URL }}/boomerang/js/jquery.hoverup.js"></script>
<script src="{{ STATIC_URL }}/boomerang/js/jquery.hoverdir.js"></script>
<script src="{{ STATIC_URL }}/boomerang/js/jquery.stellar.js"></script>

<!-- Boomerang mobile nav - Optional  -->
<script src="{{ STATIC_URL }}/boomerang/assets/responsive-mobile-nav/js/jquery.dlmenu.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/responsive-mobile-nav/js/jquery.dlmenu.autofill.js"></script>

<!-- Forms -->
<script src="{{ STATIC_URL }}/boomerang/assets/ui-kit/js/jquery.powerful-placeholder.min.js"></script> 
<script src="{{ STATIC_URL }}/boomerang/assets/ui-kit/js/cusel.min.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/sky-forms/js/jquery.form.min.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/sky-forms/js/jquery.validate.min.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/sky-forms/js/jquery.maskedinput.min.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/sky-forms/js/jquery.modal.js"></script>

<!-- Assets -->
<script src="{{ STATIC_URL }}/boomerang/assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/mixitup/jquery.mixitup.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/mixitup/jquery.mixitup.init.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/waypoints/waypoints.min.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/milestone-counter/jquery.countTo.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/social-buttons/js/rrssb.min.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/nouislider/js/jquery.nouislider.min.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/owl-carousel/owl.carousel.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/bootstrap/js/tooltip.js"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/bootstrap/js/popover.js"></script>

<!-- Sripts for individual pages, depending on what plug-ins are used -->
<script src="{{ STATIC_URL }}/boomerang/assets/layerslider/js/greensock.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/boomerang/assets/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<!-- Initializing the slider -->
<script>
    jQuery("#layerslider").layerSlider({
        pauseOnHover: true,
        autoPlayVideos: false,
        skinsPath: '{{ STATIC_URL }}/boomerang/assets/layerslider/skins/',
        responsive: false,
        responsiveUnder: 1280,
        layersContainer: 1280,
        skin: 'borderlessdark3d',
        hoverPrevNext: true,
    });
</script>

<!-- Boomerang App JS -->
<script src="{{ STATIC_URL }}/boomerang/js/wp.app.js"></script>
<!--[if lt IE 9]>
    <script src="{{ STATIC_URL }}/boomerang/js/html5shiv.js"></script>
    <script src="{{ STATIC_URL }}/boomerang/js/respond.min.js"></script>
<![endif]-->

<!-- Temp -- You can remove this once you started to work on your project -->
<script src="{{ STATIC_URL }}/boomerang/js/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}/boomerang/js/wp.switcher.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/boomerang/js/wp.ga.js"></script>


</body>
</html> 